
.profile-page {
    font-family: 'Arial', sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .small-text {
    font-size: 10px; 
    margin-top: 0;
  }

  h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .profile-form {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .profile-picture {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .profile-picture img {
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
    border: 2px solid #333;
    margin-bottom: 10px;
  }
  
  .profile-picture input[type="file"] {
    display: none;
  }  

  .profile-details {
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px;
    width: 200px;
    height: 200px;
    /*margin: auto;*/
  }

.edit-button,
.save-button {
  color: black; 
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s; 

}

.edit-button:hover,
.save-button:hover {
  background-color: rgb(236, 133, 236); 
}

.text {
  font-size: 18px;
  color: rgb(85, 85, 85);
}